@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body{
    background-color: black;
    color: rgb(25, 214, 25);
}

p{
    margin: 0em;
}

#d1{
    font-family: 'Orbitron', sans-serif;
    font-size: 100px;
    text-align: center;
    width: 300px;
    height: 300px;
    margin-top: 175px;
}

#here{
    margin-left: 529px;
}

#here2{
    margin-left: 468px;
}

#d{
    margin: 0em;
    font-size: 45px;
    margin-left: 675px;
}


#link{
    text-align: right;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

#link2{
    text-align: right;
}

button{
    background-color: #0fe016; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Orbitron', sans-serif;
}