@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body{
    background: #00d2ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #928DAB, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #928DAB, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

p{
    margin: 0em;
}

#d1{
    font-family: 'Satisfy', cursive;
    font-size: 100px;
    text-align: center;
    width: 300px;
    height: 300px;
    margin-top: 175px;
}

#here{
    margin-left: 595px;
}

#here2{
    margin-left: 550px;
}

#d{
    margin: 0em;
    font-size: 45px;
    margin-left: 645px;
}